<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-objdetect" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ObjDetectPlugin</name>
    <js-module name="ObjDetectPlugin" src="www/ObjDetectPlugin.js">
        <clobbers target="ObjDetectPlugin"/>
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ObjDetectPlugin">
                <param name="android-package" value="cordova.plugin.objdetect.ObjDetectPlugin"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"/>
        <source-file src="src/android/ObjDetectPlugin.java" target-dir="src/cordova/plugin/objdetect/ObjDetectPlugin"/>
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="ObjDetectPlugin">
                <param name="ios-package" value="ObjDetectPlugin"/>
            </feature>
        </config-file>
        <source-file src="src/ios/ObjDetectPlugin.m"/>
    </platform>
</plugin>
